@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	cursor: default;
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
}

.mobile-nav {
	transition: transform 0.3s ease-in-out;
	transform: translateY(100%);
}

.react-calendar__tile--now {
	color: currentColor;
}

.react-calendar__tile--now:active {
	color: white;
}

.react-calendar__tile--now:hover {
	color: white;
}

.react-calendar__tile--now:focus {
	color: white;
}
